:root {
  --win-sky-blue: #71c5e8;
  --win-green: #00ca4e;
  --win-red: #ff605c;
  --win-gold: #ffbd44;
  --win-plum: #8a1b61;
  --win-blue: #009cdf;
  --mac-grey: #ddd;
  --light-0: #fff;
  --dark-0: #000;
  --dark-1: rgb(32, 32, 32);
  --purple-0: rgba(95, 1, 109, 0.5);
  --purple-1: rgba(78, 0, 88, 0.7);
  --purple-2: rgb(95 1 109 / 50%);
  --grey-0: #e5e1ed;
  --grey-1: #a5a5a5;
  --grey-2: rgb(229, 226, 239);
  --grey-3: rgb(223, 225, 235);
  --grey-4: #cdcccc;
  --grey-5: #ddd;
}
